body {
  margin: 0;
  padding: 0;
}

.new {
  color: blueviolet;
  font-size: 25px;
}

.card {
  padding: 2rem;
  border: 1px solid blueviolet;
  margin: 2rem;
  background-color: rgb(53, 218, 218);
}

.users {
  padding: 2rem;
  width: 30%;
  margin: 2rem;
  background-color: coral;
  border: 2px solid crimson;
}
